# git
.gitignore.swp

# external binaries for building VICAR
vos/external

# build output
vos/vicset1.csh

# imake output
**/Imakefile_obj*
**/Imakefile_targ*

# log files generated during build
*.log

# java build output
vos/html
vos/java/**/*.class
vos/build_java

# environment based documentation and libs
vos/lib
vos/gui/lib
**/x86-macosx

# gui header files
vos/gui/inc/gui/*.h

# tae
vos/tae53

# vrdi
vos/vrdi/inc/verrdefs.fin
vos/vrdi/inc/verrdefs.h


# Other files added during build
vos/Makefile.x86-macosx
vos/p2/inc/Chdo002.h
vos/p2/inc/Chdo010.h
vos/p2/inc/Chdo082.h
vos/p2/inc/Chdo128.h
vos/p2/inc/ChdoBase.h
vos/p2/inc/DataSink.h
vos/p2/inc/DataSinkDisk.h
vos/p2/inc/DataSinkSocket.h
vos/p2/inc/DataSource.h
vos/p2/inc/DataSourceDisk.h
vos/p2/inc/DataSourceSocket.h
vos/p2/inc/DisplayInstrumentDefs.h
vos/p2/inc/DrawObject.h
vos/p2/inc/GruenTransform.h
vos/p2/inc/GruenTransformAmoeba2.h
vos/p2/inc/GruenTransformAmoeba4.h
vos/p2/inc/GruenTransformAmoeba5.h
vos/p2/inc/GruenTransformAmoeba6.h
vos/p2/inc/GruenTransformAmoeba8.h
vos/p2/inc/ImageOverlayView.h
vos/p2/inc/ImageUtils.h
vos/p2/inc/PigQuaternion.h
vos/p2/inc/PigVector.h
vos/p2/inc/ScetCoeff.h
vos/p2/inc/SclkTime.h
vos/p2/inc/SfocTime.h
vos/p2/inc/SimpleImage.h
vos/p2/inc/SocketBase.h
vos/p2/inc/Stopwatch.h
vos/p2/inc/TpAddCorrParmAsPntQualInterface.h
vos/p2/inc/TpAddIdAsGenQualInterface.h
vos/p2/inc/TpApplication.h
vos/p2/inc/TpAutoSyncPointsCmd.h
vos/p2/inc/TpAutofindDialog.h
vos/p2/inc/TpAutofindRes.h
vos/p2/inc/TpAutofindResultsDialog.h
vos/p2/inc/TpCheckGenQualUniqueCmd.h
vos/p2/inc/TpCloseCmd.h
vos/p2/inc/TpClosePointFileCmd.h
vos/p2/inc/TpColorCodeCmd.h
vos/p2/inc/TpContrastCmd.h
vos/p2/inc/TpContrastControl.h
vos/p2/inc/TpContrastControlPrefView.h
vos/p2/inc/TpContrastValue.h
vos/p2/inc/TpCursorModel.h
vos/p2/inc/TpCursorSymbolsDialog.h
vos/p2/inc/TpDefs.h
vos/p2/inc/TpDeletePointCmd.h
vos/p2/inc/TpDisplayModeDialog.h
vos/p2/inc/TpDisplayer.h
vos/p2/inc/TpDisplayerPrefView.h
vos/p2/inc/TpExitStatusCmd.h
vos/p2/inc/TpImageInfo.h
vos/p2/inc/TpImageReference.h
vos/p2/inc/TpImageView.h
vos/p2/inc/TpListPointsCmd.h
vos/p2/inc/TpLoadConfigCmd.h
vos/p2/inc/TpLoadImageCmd.h
vos/p2/inc/TpLoadPointFileCmd.h
vos/p2/inc/TpMatch.h
vos/p2/inc/TpMatchBrowseControl.h
vos/p2/inc/TpMatchManager.h
vos/p2/inc/TpMatchManagerPrefView.h
vos/p2/inc/TpMatchModeDialog.h
vos/p2/inc/TpMatchModeRes.h
vos/p2/inc/TpMatchModeResultsDialog.h
vos/p2/inc/TpMatchModeValues.h
vos/p2/inc/TpMatchModeValuesCmdIf.h
vos/p2/inc/TpNumDisplaysCmd.h
vos/p2/inc/TpPoint.h
vos/p2/inc/TpPointEditorOptsDialog.h
vos/p2/inc/TpPointModel.h
vos/p2/inc/TpPointSymbolsDialog.h
vos/p2/inc/TpPointTagsDialog.h
vos/p2/inc/TpPosView.h
vos/p2/inc/TpPrefView.h
vos/p2/inc/TpPrintCmd.h
vos/p2/inc/TpQualFormatCmd.h
vos/p2/inc/TpQualFormatCmdInterface.h
vos/p2/inc/TpQualFormatDialog.h
vos/p2/inc/TpQualFormatSingleView.h
vos/p2/inc/TpQualFormatValue.h
vos/p2/inc/TpQualFormatView.h
vos/p2/inc/TpQualGroup.h
vos/p2/inc/TpQualGroupMgr.h
vos/p2/inc/TpQualifier.h
vos/p2/inc/TpQuitCmd.h
vos/p2/inc/TpRedoMatchIdsCmd.h
vos/p2/inc/TpRemoveImageCmd.h
vos/p2/inc/TpRotateImageCmd.h
vos/p2/inc/TpSaveAndExitCmd.h
vos/p2/inc/TpSaveConfigAsCmd.h
vos/p2/inc/TpSaveConfigCmd.h
vos/p2/inc/TpSavePointCmd.h
vos/p2/inc/TpSavePointFileAsCmd.h
vos/p2/inc/TpSavePointFileCmd.h
vos/p2/inc/TpSelectionMgr.h
vos/p2/inc/TpSetAutofindCmd.h
vos/p2/inc/TpSetCursorColorCmd.h
vos/p2/inc/TpSetCursorSymbolCmd.h
vos/p2/inc/TpSetMatchIdNextCmd.h
vos/p2/inc/TpSetMatchIdOffsetCmd.h
vos/p2/inc/TpSetMatchModeCmd.h
vos/p2/inc/TpSetMatchModeValuesCmd.h
vos/p2/inc/TpSetPointColorCmd.h
vos/p2/inc/TpSetPointColorSelCmd.h
vos/p2/inc/TpSetPointSizeCmd.h
vos/p2/inc/TpSetPointSymbolCmd.h
vos/p2/inc/TpSetTagPositionCmd.h
vos/p2/inc/TpShiftCmd.h
vos/p2/inc/TpShowPointLabelsCmd.h
vos/p2/inc/TpStripPanTool.h
vos/p2/inc/TpSubDisplayer.h
vos/p2/inc/TpSwapLockCmd.h
vos/p2/inc/TpWedgeOverlayView.h
vos/p2/inc/TpWindow.h
vos/p2/inc/TpWritePointsCmd.h
vos/p2/inc/TpZoomControl.h
vos/p2/inc/TpZoomControlPrefView.h
vos/p2/inc/VicarBinaryHeader.h
vos/p2/inc/VicarException.h
vos/p2/inc/VicarFmtMap.h
vos/p2/inc/astroreference_camera.h
vos/p2/inc/burl.h
vos/p2/inc/calltp.h
vos/p2/inc/cartoGridUtils.h
vos/p2/inc/cartoGtUtils.h
vos/p2/inc/cartoLinkedList.h
vos/p2/inc/cartoLoggerUtils.h
vos/p2/inc/cartoLsqUtils.h
vos/p2/inc/cartoMatUtils.h
vos/p2/inc/cartoMemUtils.h
vos/p2/inc/cartoSortUtils.h
vos/p2/inc/cartoStrUtils.h
vos/p2/inc/cartoTaeUtils.h
vos/p2/inc/cartoTieUtils.h
vos/p2/inc/cloud_masks.h
vos/p2/inc/cltsub.h
vos/p2/inc/count_lines.h
vos/p2/inc/eos_coords.h
vos/p2/inc/ephreference_camera.h
vos/p2/inc/fgetl.h
vos/p2/inc/georeference_camera.h
vos/p2/inc/gruen.h
vos/p2/inc/hdfIncludes.h
vos/p2/inc/ibisControlMapper.h
vos/p2/inc/ibishelper.h
vos/p2/inc/lclsub.h
vos/p2/inc/mat33.h
vos/p2/inc/ms_bridge.h
vos/p2/inc/ms_defines.h
vos/p2/inc/qmalloc.h
vos/p2/inc/quaternion.h
vos/p2/inc/rodrigues.h
vos/p2/inc/safe_sqrt.h
vos/p2/inc/sl_lists.cc
vos/p2/inc/sl_lists.h
vos/p2/inc/sprintf_alloc.h
vos/p2/inc/strsel.h
vos/p2/inc/time_conversion.h
vos/p2/inc/time_utils.h
vos/p2/inc/time_value.h
vos/p2/inc/tokenize.h
vos/p2/inc/utils_return_values.h
vos/rtl/Makefile.x86-macosx
vos/rtl/inc/errdefs.fin
vos/rtl/inc/errdefs.h
vos/rtl/inc/vicmain_c
vos/rtl/inc/vicmain_for.fin
vos/rtl/inc/xviodefs.h
vos/rtl/source/Makefile.x86-macosx
vos/shell_vicar/Makefile.x86-macosx
vos/shell_vicar/source/Makefile.x86-macosx
vos/stae/Makefile.x86-macosx
vos/stae/source/Makefile.x86-macosx
vos/tae/help/msg/
vos/tae52_changes
vos/util/Makefile.x86-macosx
vos/util/opensprogs/Makefile.x86-macosx
vos/util/opensubs/Makefile.x86-macosx
vos/vids/Makefile.x86-macosx
vos/vids/compile_pdf.bld
vos/vids/source/Makefile.x86-macosx
vos/vids/source/makevids.csh
vos/vids/source/vids.imake
vos/vrdi/Makefile.x86-macosx
vos/vrdi/inc/Makefile.x86-macosx
vos/vrdi/source/Makefile.x86-macosx
vos/vrdi/source/adage/Makefile.x86-macosx
vos/vrdi/source/common/Makefile.x86-macosx
vos/vrdi/source/dummy/Makefile.x86-macosx
vos/vrdi/source/ip85hi/Makefile.x86-macosx
vos/vrdi/source/ip85lo/Makefile.x86-macosx
vos/vrdi/source/ivas/Makefile.x86-macosx
vos/vrdi/source/jup/Makefile.x86-macosx
vos/vrdi/source/ramtek/Makefile.x86-macosx
vos/vrdi/source/tek/Makefile.x86-macosx
vos/vrdi/source/xdisplay/Makefile.x86-macosx
vos/vrdi/source/xdisplay/shmem_unix.c
vos/vrdi/source/xdisplay/socket.c
vos/vrdi/source/xdisplay/xd_read_dibs.c
